{{widget('resetpassword', 'resetpassword', {'text':'Reset Password','completionPage': 'login'})|raw}}

{% extends "layout.twig" %}

{% block content %}

<div class="login-signup login-bg">

    <div class="form-container">
        {{widget('logo', 'sitelogo1', {"defaultlogo": asset('images/logo-white.png')})|raw}}
        <div class="form">
            {{widget('content', 'signup-content', {content: '<h2>Reset Password</h2>'})|raw}}
            {{widget('resetpassword', 'resetpassword', {'text':'Reset Password','completionPage': 'login'})|raw}}
        </div>
    <!-- Main Widget Zone -->
    {{zone('main')|raw}}
    </div>


</div>


{% endblock %}