
<div class="tabs color3 stack effect4 tcenter">
    <!--TAB 1-->
  <input type="radio" name="tabs" class="content1">
  <label for="tab1" style='border-left: 0'>
    <span>
        <span class="ecommerce">{{widget('content', 'tablabel', {content: 'eCommerce'})|raw}}</span>
    </span>
  </label>
  <!--TAB 2-->
    <input type="radio" name="tabs" id="tab2" class="content2">
    <label for="tab2">
    <span>
        <span class="blog">{{widget('content', 'tablabel1', {content: 'Blog'})|raw}}</span>
    </span>
  </label>
  <!--TAB 3-->
    <input type="radio" name="tabs" id="tab3" class="content3">
    <label for="tab3">
    <span>
        <span class="menu">{{widget('content', 'tablabel2', {content: 'Menu'})|raw}}</span>
    </span>
  </label>

  <!--CONTENT-->
  <ul>
    <!--TAB 1-->
    <li class="content1">
      <div class="plugin-copy">
        {{widget('content', 'tabcontent', {content: '<h2>Simple ecommerce</h2>'})|raw}}
        {{widget('content', 'tabcontent1', {content: '<p>Set up your online shop and start taking payments within minutes.</p>'})|raw}}
      </div>
      <div class="plugin-image">
        <img src="{{asset('images/plugins/plugins-ecommerce.jpg')}}"/>
      </div>
    </li>
    <!--TAB 2-->
    <li class="content2">
      <div class="plugin-copy">
        {{widget('content', 'tabcontent2', {content: '<h2>Simple Blogging</h2>'})|raw}}
        {{widget('content', 'tabcontent3', {content: '<p>Publishing your blog content is easy. Keep your customers up to date with your business.</p>'})|raw}}
      </div>
      <div class="plugin-image">
        <img src="{{asset('images/plugins/plugins-blog.jpg')}}"/>
      </div>
    </li>
    <!--TAB 3-->
    <li class="content3">
      <div class="plugin-copy">
        {{widget('content', 'tabcontent4', {content: '<h2>Simple Menu</h2>'})|raw}}
        {{widget('content', 'tabcontent5', {content: '<p>Our menu editor allow you to edit and preview your menu on any mobile device.</p>'})|raw}}
      </div>
      <div class="plugin-image">
        <img src="{{asset('images/plugins/plugins-menu.jpg')}}"/>
      </div>
    </li>
  </ul>
</div>

