<section class="pricing-table">
  <section class='item'>
    <div class="item-header">
      {{widget('content', 'pricing-table-content', {content: '<h1>Basic Package</h1>'})|raw}}
    </div>
    <div class="item-price">
      {{widget('content', 'pricing-table-content1', {content: '<p><span>£5</span>/month</p>'})|raw}}
    </div>
    <div class="item-info">
      <ul class="item-list">
        <li>{{widget('content', 'pricing-table-content2', {content: '<p>5 Pages</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content3', {content: '<p>Unlimited Storage</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content4', {content: '<p>Blog</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content5', {content: '<p>1 Free Stock Image</p>'})|raw}}</li>
      </ul>
    </div>
  </section>

  <section class='item popular'>
    <div class="item-header">
      {{widget('content', 'pricing-table-content6', {content: '<h1>Business Package</h1>'})|raw}}
    </div>
    <div class="item-price">
      {{widget('content', 'pricing-table-content7', {content: '<p><span>£10</span>/month</p>'})|raw}}
    </div>
    <div class="item-info">
      <ul class="item-list">
        <li>{{widget('content', 'pricing-table-content8', {content: '<p>15 Pages</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content9', {content: '<p>Unlimited Storage</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content10', {content: '<p>Blog</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content11', {content: '<p>Paypal Integration</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content12', {content: '<p>3 Free Stock Images</p>'})|raw}}</li>
      </ul>
    </div>
  </section>

  <section class='item'>
    <div class="item-header">
      {{widget('content', 'pricing-table-content13', {content: '<h1>Enterprise Package</h1>'})|raw}}
    </div>
    <div class="item-price">
      {{widget('content', 'pricing-table-content14', {content: '<p><span>£20</span>/month</p>'})|raw}}
    </div>
    <div class="item-info">
      <ul class="item-list">
        <li>{{widget('content', 'pricing-table-content15', {content: '<p>Unlimited Pages</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content16', {content: '<p>Unlimited Storage</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content17', {content: '<p>Ecommerce Store</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content18', {content: '<p>Blog</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content19', {content: '<p>Menu Editor</p>'})|raw}}</li>
        <li>{{widget('content', 'pricing-table-content20', {content: '<p>10 Free Stock Images</p>'})|raw}}</li>
      </ul>
    </div>
  </section>


</section>